.about-container,
.about-container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  /* Bottom right text */
.text-block {
    width: 50%;
    /*background-color: black;*/
    padding-left: 20px;
    padding-right: 20px;
}

.about-container-2 {
  width: 1200px;
  height: 475px;
  margin: 40px auto;
}

.about-container-2 > .ctn-2-left {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.about-container-2 > .ctn-2-left > img {
  object-fit: contain;
  width: 100%;
}

.about-container-2 > .ctn-2-right {
    width: 40%;
    height: 100%;
    background-color: rgba(235, 230, 228, 0.5);
    padding: 40px;
    text-align: left;
}

.about-container-2 > .ctn-2-right > p {
  line-height: 25px;
}

.theaterSystem__creaters {
  width: 820px;
  height: 710px;
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  margin: 0 auto;
}

.theaterSystem__creater {
  width: 33.333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container-3 {
  text-align: center;
  width: 1200px;
  margin: 0px auto;
}

.text-block-founder {
  background-color: #F5F2F2;
  /* color: white; */
  padding: 40px 20px 40px;
  margin: 0 auto;
}

.about-container {
  background: url('../../../Assets/Images/image 4.png');
  width: 100%;
  height: 500px; 
  display: flex;
  align-items: center;
  color: #fff;
}

.about-child-container {
  margin: 0 auto;
  background: url("../../../Assets/Images/Rectangle\ 387.png");
  color: #fff;
  padding-top: 10%;
  padding-bottom: 20%;
}

.about-child-container > h2 {
  text-align: left;
  padding-left: 18%;

}

.about-child-container > p {
  padding: 0 18%;
  text-align: justify;
  margin-bottom: 30px;
}

.about-container-4 {
  background: url("../../../Assets/Images/image 5.png");
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff
}

.about-container-4 > .text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
  /* ---------------------------------- */

  h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
    line-height: 79px;
  }
  .under-line{
    width: 150px;
    height: 7px;
    background: #D7CECB;
  }
  .line {
    padding-top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify; 
  }
  .bottom{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
  }
  h1.bottom:before {
    content: "";
    height: 15px;
    width: 25%;
    border-bottom: 7px solid #D7CECB;
  }
  .row {
    display: flex;
  }
  .row-two{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }
  .row-three{
    display: flex;
    padding: 150px 100px 150px 100px;
  }
  .left {
    width: 70%;
  }
  
  .right {
    width: 30%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(235, 230, 228, 0.5);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .detail{
    width: 129.46px;
    height: 41.11px;
    
    background: #B4624A;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;

    /* or 156% */

    text-align: center;

    color: #FFFFFF;

  }
  .foot-line{
    
    padding-top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 45vw;
  }
  .foot-head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    /* color: #FFFFFF; */
  }
  h1.foot-head:before {
    content: "";
    height: 15px;
    width: 25%;
    border-bottom: 7px solid #D7CECB;
  }
  .row-2{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .button-container-div {
    display: flex;
    justify-content: center;
    align-items: bottom;
    padding-top: 20px;
}
  .go-to-detail{
    width: 208px;
    height: 45px;
    color:#FFFFFF;
    background: #9BB8C6;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}
.middle{
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
  }
  h1.middle:before {
    content: "";
    height: 15px;
    width: 25%;
    border-bottom: 7px solid #D7CECB;
  }
  .middle-two{
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
  }
  h1.middle-two:before {
    content: "";
    height: 15px;
    width: 25%;
    border-bottom: 7px solid #D7CECB;
  }
  .founder{
    color:#000000;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    
  }
  .founder-line{
    color:#000000;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-top: 40px;
  }

  .introduce-middle{
    width: 40vw;
    margin-left: 15vw;
    margin-right: 25vw;
    margin-top: 40vh;
    margin-bottom: 30vh;
  }
  .introduce{
    padding-top: 200px;
  }
  .just{
    justify-content: center;
    align-items: center;
  }
.video{
  padding-top: 60px;
}
.padd{
  padding-bottom: 150px;
}
  